{% extends 'base.html' %}
{% load account %}
{% load static %}

{% block title %}Error 403{% endblock title %}

{% block content %}
    <section class="errors-section">
        <div class="errors-container">
            <div class="error-box">
                <div class="error-img">
                    <img src="{% static 'images/403.jpg' %}" alt="image">
                </div>               
                <a class="button button-dark" href="{% url 'home' %}">Back to home</a> 
            </div>
        </div>

    </section>
{% endblock content %}