{% extends 'base.html' %}
{% load i18n %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <section class="delete-account-section">
        <div class="container change-password-box">
            <h2>Change Password</h2>
            {% if form.errors %}
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
        {% endif %}
            <form class="change-password-form center" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="password-buttons"> 
                    <button class="button button-dark" type="submit" value="submit">Submit</button>
                </div>
                <a id="back-btn" class="button button-dark " href="{% url 'customer_profile' request.user.id %}">Back to profile</a>
            </form>
        </div>
    </section> 
    {% endif %}
{% endblock content %}