{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
{% endblock %}
{% block content %}
<section class="contact-section">
    {% if messages %}
        <ul class="info-msg center">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <div class="container">
    <div class="contact-form-box">
        <h2>contact us any time!</h2>
        <p>we are here for help. If you have any question,
            please fill in the form below. you will receive a reply within 24 hours.</p>    
        <form class="contact-form" method="post">
            {% csrf_token %}
            <label for="id_first_name">first name</label>
            {{ contact_form.first_name }}
            <label for="id_last_name">last name</label>     
            {{ contact_form.last_name }}
            <label for="id_contact_email">email</label>      
            {{ contact_form.contact_email }}
            <label for="id_message">message</label>       
            {{ contact_form.message }}        
            <button class="button button-dark" type="submit">send</button>                   
        </form>   
    </div>
   </div>
</section>
{% endblock %}