{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'policies/css/style.css' %}" />
{% endblock %} 

{% block content %}
<section class="delivery-section">
  <div class="delivery-container">
    <div class="term-box">
      <p>
        SHIPPING & DELIVERY POLICY Last updated July 12, 2022 <br /><br />
  
        This Shipping & Delivery Policy is part of our Terms and Conditions
        ("Terms") and should be therefore read alongside our main Terms:
        <a
          target="_blank"
          href="https://norahsceramics.herokuapp.com/policies/terms_and_conditions"
          >https://norahsceramics.herokuapp.com/policies/terms_and_conditions</a
        >. Please carefully review our Shipping & Delivery Policy when purchasing
        our products. This policy will apply to any order you place with us.
        <br /><br />
        WHAT ARE MY SHIPPING & DELIVERY OPTIONS?<br /><br />
  
        Free Shipping We offer free 5-7 days shipping on all orders. Next Day
        Delivery - cost £5.00
        <br /><br />
        DO YOU DELIVER INTERNATIONALLY?<br /><br />
  
        We do not offer international shipping.
        <br /><br />
        WHAT HAPPENS IF MY ORDER IS DELAYED?<br /><br />
  
        If delivery is delayed for any reason we will let you know as soon as
        possible and will advise you of a revised estimated date for delivery. For
        EU and UK consumers: This does not affect your statutory rights. For more
        information please refer to our Terms.
        <br /><br />
        QUESTIONS ABOUT RETURNS?<br /><br />
  
        If you have questions about returns, please review our Return Policy:
        <a
          target="_blank"
          href="https://norahsceramics.herokuapp.com/policies/returns_policy"
          >https://norahsceramics.herokuapp.com/policies/returns_policy</a
        >. <br /><br />
        HOW CAN YOU CONTACT US ABOUT THIS POLICY?
        <br /><br />
        If you have any further questions or comments, you may contact us by:
        Phone (Toll free): 01746 315102 Email: info@norahsceramics.com Online
        contact form: <a target="_blank" href="https://norahsceramics.herokuapp.com/contact/">
          https://norahsceramics.herokuapp.com/contact/</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
